* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {

    color: grey;
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: rgb(27, 4, 4);
    display: flex;
    justify-content: space-between;
    
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: brown;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: rgb(148, 132, 30);
}

header nav {
    display: flex;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
    
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    text-decoration: underline;
}

section {
   padding: 40px;
}

/*hero style start */
.hero {
    background-image: url('../images/closeup-accountant-hands-counting-calculator_1262-3170.jpg');
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Hero Style End */

.hero-form {
    position: absolute;
    bottom: 120px;
    right: 120px;
    color: rgb(20, 17, 3);
    border: 3px solid white;
    background-color: white;
    padding: 30px;
    border-radius: 14px;
   
}

.intro {
    text-align: left;
}

.intro p {
    line-height: 1.7;
    color: black;
    width: 100%;
    font-size: 20px;
    margin: 0 auto;
}

/* flex parent */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font-size: 40px;
    /*margin-left: 80px; */

    
  
}
#about-me {
    display: flex;
    /* justify-content: right; */
    padding-left: 107px;

}
p {
    padding-left: 40px;
}

.section-title-primary-border {
    font-size: 40px;
    display: flex;
    color: rgb(32, 28, 4);
    border-right: 5px solid black;
    padding-right: 40px;
    
}

main {
 margin-left: auto;
 margin-right: auto;
 max-width: 100%;
}

h2 {
    display: block;
    text-align: left;
}
#work {
    display: flex;
    /* justify-content: left; */
    
}

.section-title-secondary-border {
    font-size: 40px;
    display: flex;
    color: rgb(32, 28, 4);
    margin-right: 40px;
    border-right: 5px solid black;
    padding-right: 40px;
    /* margin-left: 50px; */
}

/* flex child */
.flex-item {
    /*make each one 45%, putting 10% between each element on the page */
    width: 100%;
    /* rounded corner */
    border-radius: 14px;
    border: 4px solid white;
    font-size: 22px;
    font-weight: bold;
    /* put space between each one vertically */
    margin-bottom: 10px;

    /*for files in local images folder, use url('../images/file-name.jpg) */
    background-image : url('../images/people-cooperation-accountant-consulting-accounting-pointing_1418-80 (1).jpg');

    background-size: cover;
    background-position: center;
    padding: 80px 0;
    min-height: 350px;
    display: flex;
    flex-direction: coloum;
    align-items: flex-end;
}

.flex-item span {
    margin-top: auto;
    width: 50%;
    background-color: orange;
    color: black;
    padding: 10px 10px;
    text-align: center;
    border: 4px solid white;
    border-radius: 14px;
}

.flex-item1 {
    /*make each one 45%, putting 10% between each element on the page */
    width: 50%;
    /* rounded corner */
    border-radius: 14px;
    border: 4px solid white;
    font-size: 22px;
    font-weight: bold;
    /* put space between each one vertically */
    margin-bottom: 10px;

    /*for files in local images folder, use url('../images/file-name.jpg) */
    background-image : url('../images/accounting-app-for-iPhone-1074x483.jpg');

    background-size: cover;
    background-position: center;
    padding: 40px 0;
    min-height: 350px;
    display: flex;
    flex-direction: coloum;
    align-items: flex-end;
}

.flex-item1 span {
    margin-top: auto;
    width: 50%;
    background-color: yellow;
    color: black;
    padding: 10px 10px;
    text-align: center;
    border: 4px solid white;
    border-radius: 14px;
}

.flex-item2 {
    /*make each one 45%, putting 10% between each element on the page */
    width: 50%;
    /* rounded corner */
    border-radius: 14px;
    border: 4px solid white;
    font-size: 22px;
    font-weight: bold;
    /* put space between each one vertically */
    margin-bottom: 10px;

    /*for files in local images folder, use url('../images/file-name.jpg) */
    background-image : url('../images/accounting-accounts-represents-balancing-the-books-and-accountan.jpg');

    background-size: cover;
    background-position: center;
    padding: 40px 0;
    min-height: 350px;
    display: flex;
    flex-direction: coloum;
}

.flex-item2 span {
    margin-top: auto;
    width: 50%;
    background-color: rgb(138, 100, 106);
    color: black;
    padding: 10px 10px;
    text-align: center;
    border: 4px solid white;
    border-radius: 14px;
}

.flex-item3 {
    /*make each one 45%, putting 10% between each element on the page */
    width: 50%;
    /* rounded corner */
    border-radius: 14px;
    border: 4px solid white;
    font-size: 22px;
    font-weight: bold;
    /* put space between each one vertically */
    margin-bottom: 10px;

    /*for files in local images folder, use url('../images/file-name.jpg) */
    background-image : url('../images/istockphoto-1148634836-612x612.jpg');

    background-size: cover;
    background-position: center;
    padding: 40px 0;
    min-height: 350px;
    display: flex;
    flex-direction: coloum;
}

.flex-item3 span {
    margin-top: auto;
    width: 50%;
    background-color: red;
    color: black;
    padding: 10px 10px;
    text-align: center;
    border: 4px solid white;
    border-radius: 14px;
}

.flex-item4 {
    /*make each one 45%, putting 10% between each element on the page */
    width: 50%;
    /* rounded corner */
    border-radius: 14px;
    border: 4px solid white;
    font-size: 22px;
    font-weight: bold;
    /* put space between each one vertically */
    margin-bottom: 10px;

    /*for files in local images folder, use url('../images/file-name.jpg) */
    background-image : url('../images/Free-Accounting-Advice-Meeting.jpg');

    background-size: cover;
    background-position: center;
    padding: 40px 0;
    min-height: 350px;
    display: flex;
    flex-direction: coloum;
    height: 350px;
}

.flex-item4 span {
    margin-top: auto;
    width: 50%;
    background-color: purple;
    color: black;
    padding: 10px 10px;
    text-align: center;
    border: 4px solid white;
    border-radius: 14px;
    
}

.section-title {
    width: 15%;
}

.description {
    width: 80%;
}

section nav {
    float: center;
    margin: 7px 0;
}

section div1 {
    float: center;
    line-height: 1.5;
    text-align: center;
}


section nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    text-decoration: underline;
    
}

section nav ul li {
    display: inline;
    padding-left: 40px;
    
}
.contact {
    display: flex;
    justify-content: left;
    
}


/* Width at 1024px and below */
@media screen and (max-width: 1024px) {
    
    .wrapper {
        /* Box-model */
        width: 100%;
        padding: 20px;
    }

    #main-content,
    #sidebar {
        width: 100%;
    }

    #sidebar {
        margin-top: 40px;
    }
}

/* width at 768px and below */
@media screen and (max-width: 768px) {
    
    .wrapper {
        /* Box-model */
        width: 100%;
        padding: 20px;
    }

    #main-content,
    #sidebar {
        width: 100%;
    }

    #sidebar {
        margin-top: 40px;
    }
}

/* width at 600px and below */
@media screen and (max-qidth: 600px) {
    
    .wrapper {
        /* Box-model */
        width: 100%;
        padding: 20px;
    }

    #main-content,
    #sidebar {
        width: 10px;
    }

    #sidebar {
        margin-top: 40px;
    }
}

/* width at 480px and below */
@media screen and (max-width: 480px) {
   
    .wrapper {
        /* Box-model */
        width: 100%;
        padding: 20px;
    }

    #main-content,
    #sidebar {
        width: 100%;
    }

    #sidebar {
        margin-top: 40px;
    }
}

/* width at 300px and below */
@media screen and (max-width: 300px) {
    
    .wrapper {
        /* Box-model */
        width: 100%;
        padding: 20px;
    }

    #main-content,
    #sidebar {
        width: 100%;
    }

    #sidebar {
        margin-top: 40px;
    }
}

